POSTGRES_DB=auto_dev
POSTGRES_USER=auto_dev
POSTGRES_PASSWORD=change-this-for-local-use
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=auto_dev
MINIO_ROOT_PASSWORD=change-this-for-local-use
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
